* { box-sizing: border-box; }
body { margin: 0; background-color: #c5ccce; font-size: 13px;
	font-family: 'Open Sans'; color: #424242; }

.banner {
	background-image: url('/assets/bg2.jpg');
	background-size: cover;
	background-position: center;
	height: 278px;
}

.container { margin: auto; width: 640px; }		

.form {
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
	margin-bottom: 48px;
	margin-top: -100px;
	background-color: #fff;
	padding: 34px;
	border-top: 8px solid #6281c4;
}

.header, .title { line-height: 134%; max-width: 100%; }
.header { font-size: 34px; }
.title { font-size: 20px; color: #000; }
.sp1 { margin-top: 1em; }
.sp2 { margin-top: 2em; }
.sp4 { margin-top: 4em; }

.red { color: #db4437; }
.error { color: #db4437; display: block; }

input { padding: 0; outline: none; background: transparent; line-height: 24px;
		border-style: solid; border-width: 0 0 1px 0; border-color: #ddd; font-size: 16px;
		width: 284px; height: 24px; }

button { background-color: #4285f4; padding: 8px 16px; cursor: pointer; font-size: 14px; line-height: 20px;
	border-radius: 3px; border: none; text-transform: uppercase; color: #fff; outline: none; }

@media (max-width: 660px) {
	.container { width: 90%; }
	.banner { height: 122px; }
	.form { margin-top: -50px; }
}

@media (max-width: 360px) {
	input { width: 100%; }
}