<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="icon" type="image/png" href="/assets/icon.png" sizes="32x32">
	<title>Школа программиста - регистрация</title>
	<link rel="stylesheet" type="text/css" href="/assets/register.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
</head>
<body>

<div class="banner"></div>
<div class="container">
	<form id="callForm" class="form">
		<div class='header'> Регистрация в школе программиста </div>
		<div class='sp1 red'>* Необходимо заполнить</div>

		<div class="sp2 title">Ваше имя? <span class="red">*</span></div>
		<input class='sp1' value="{{name}}" placeholder="Ответ" type="text" name="name">

		<div class="sp2 title">Ваша фамилия? <span class="red">*</span></div>
		<input class='sp1' value="{{surname}}" placeholder="Ответ" type="text" name="surname">

		<div class="sp2 title">Номер мобильного телефона? <span class="red">*</span></div>
		<input class='sp1' value="{{phone}}" placeholder="Ответ" type="text" name="phone">

		<div class="sp2 title">Школа? <span class="red">*</span></div>
		<input class='sp1' value="{{school}}" placeholder="Ответ" type="text" name="school">

		<div class="sp2 title">Класс? <span class="red">*</span></div>
		<input class='sp1' min="5" max="11" value="{{grade}}" placeholder="Ответ" type="number" name="grade">

		<div class="sp4">
			<button>Отправить</button>
		</div>
	</form>
</div>

<script type="text/javascript">
$(document).ready(function(){

$('#callForm').validate({
	rules: {
		name: 'required',
		surname: 'required',
		phone: 'required',
		school: 'required',
		form: 'required'
	},
	messages: {
		name: 'Пожалуйста, введите ваше имя.',
		surname: 'Пожалуйста, введите вашу фамилию.',
		phone: 'Пожалуйста, введите ваш номер телефона.',
		school: 'Пожалуйста, введите название вашей школы.',
		form: 'Пожалуйста, введите ваш класс.',
	}
})

let key = document.location.pathname.match(/register\/\w+/i)[0].slice(9)

$('#callForm').submit(function(event) {
	event.preventDefault();
	if (!$('#callForm').valid()) return;
	var data = $(event.target).serialize()
	data += `&key=${key}`;
    $.ajax({
        type: 'POST',
        url: '/register',
        data: data,
        success: function(res) {
        	document.location = '/register/'+res;
        }
    });
});

});
</script>

</body>
</html>
